body {
    margin: 0px;
    height: 100%;
}
#color-title, 
#selected-color-title, 
#selected-color-subtitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.colors-set {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.color-choice {
    padding: 135px 0px 285px 135px;

}
.color-choice:nth-child(2) {
    background-color: #ff66a3;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(2):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(3) {
    background-color: #ff4d4d;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(3):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(4) {
    background-color: #ff661a;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(4):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(5) {
    background-color: #ffff4d;
    /* #ffd700 */
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(5):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(6) {
    background-color: #ffd700;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(6):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(7) {
    background-color: #4dff4d;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(7):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(8) {
    background-color: #00FFFF;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(8):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(9) {
    background-color: #66b3ff;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(9):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(10) {
    background-color: #ee82ee;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(10):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(11) {
    background-color: #800080;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(11):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(12) {
    background-color: #000000;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(12):hover {
    transform: scale(1.1);
}
.color-choice:nth-child(1) {
    background-color: #fbfbfb;
    transition: all .2s ease-in-out;
}
.color-choice:nth-child(1):hover {
    transform: scale(1.1);
}
#display-white{
    /* animation: appear ease 3s; */
    background-color: #fbfbfb;
    height: 100vh;
}
#display-pink {
    /* #display-pink  */
    /* animation: appear ease 3s; */
    background-color: #ff66a3;
    height: 100vh;
}
#display-red {
    /* animation: appear ease 3s; */
    background-color: #ff4d4d;
    height: 100vh;
}
#display-orange {
    background-color: #ff661a;
    height: 100vh;
}
#display-yellow {
    background-color: #ffff4d;
    height: 100vh;
}
#display-gold {
    background-color: #ffd700;
    height: 100vh;
}
#display-green {
    background-color: #4dff4d;
    height: 100vh;
}
#display-aqua {
    background-color: #00FFFF;
    height: 100vh;
}
#display-blue {
    background-color: #66b3ff;
    height: 100vh;
}
#display-violet {
    background-color: #ee82ee;
    height: 100vh;
}
#display-purple {
    background-color: #800080;
    height: 100vh;
}
#display-black {
    background-color: #000000;
    height: 100vh;
}
#selected-color-title {
    font-weight: bolder;
    font-size: 150px;
    color: #ffffff;
    margin: auto;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear ease 3s;
}
#selected-color-subtitle {
    font-weight: bolder;
    font-size: 50px;
    color: #ffffff;
    margin: auto;
    width: 50%;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear ease 10s;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}